
h1 {
    font-family: Cinzel;
    font-size: 56px;
    text-align: center;
}

p {
    font-family: Abhaya-Libre;
    font-size: 20px;
    text-align: center;
}

footer {
   
    display: flex; 
    justify-content: center;
    
}

#cifrar-home, #descifrar-home {
    background-color: #9EEAEE;
      
}

#cifrar-home:hover, #descifrar-home:hover {
    background-color: #4FDADF;
    
}


#cifrar-box2 {
    background-color: red;
}

.hide {
    display: none;
}